---
http_interactions:
- request:
    method: get
    uri: https://api-na.geetest.com/get.php?api_server=api-na.geetest.com&callback=geetest_1537572366288&challenge=fa2ce30b8c37d188dbf5ba15240c0110&gt=f2ae6cadcf7886856696502e1d55e00c&https=false&is_next=true&lang=en&offline=false&product=embed&protocol=https://&showBack=true&type=slide3&width=100%25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript;charset=UTF-8
      Etag:
      - '"a4ec8a27220944887a943ce4c7b966848116284e"'
    body:
      encoding: UTF-8
      string: 'geetest_1537576308501({"link": "", "static_servers": ["static.geetest.com/", "dn-staticdown.qbox.me/"], "version": "6.0.9", "ypos": 52, "https": true, "show_delay": 250, "benchmark": false, "width": "100%", "product": "embed", "show_voice": true, "fullbg": "pictures/gt/597ec798a/597ec798a.jpg", "theme_version": "1.2.0", "c": [12, 58, 98, 36, 43, 95, 62, 15, 12], "xpos": 0, "type": "multilink", "hide_delay": 800, "clean": false, "so": 0, "height": 160, "i18n_labels": {"slide": "Slide to complete the puzzle", "fail": "Position incorrect", "forbidden": "Try again in 3 seconds", "refresh": "Refresh", "logo": "Powered by Geetest", "voice": "Vision Impaired", "feedback": "More info", "close": "Close", "error": "Error, Close and try again.", "loading": "Loading", "success": "sec s. You beat score% of users"}, "theme": "ant", "feedback": "http://www.geetest.com/helpcenter/", "logo": true, "id": "a0d09d5d9443a7041e2658f5436c4449b", "bg": "pictures/gt/597ec798a/bg/3ea51fbd8.jpg", "s": "546d7646", "api_server": "https://api-na.geetest.com/", "challenge": "0d09d5d9443a7041e2658f5436c4449b4u", "slice": "pictures/gt/597ec798a/slice/3ea51fbd8.png", "mobile": true, "gt": "f2ae6cadcf7886856696502e1d55e00c", "fullpage": false})'
  recorded_at: Sat, 22 Sep 2018 00:22:28 GMT
recorded_with: VCR 4.0.0
